/* You can add global styles to this file, and also import other style files */
/* body{
  background-image: url(../src/assets/logo.png);
  background-repeat: no-repeat;
  background-size: 700px, 700px, contain;
  background-position: center;
  background-origin: padding-box;
  background-attachment: fixed;

} */
body{


}
