.btn {
  background-color:rgba(210, 180, 140, 0.883) ;
  color: rgb(90, 46, 14);
  border: 2px solid rgb(90, 46, 14);
 width:150px;
}

.btn:hover {
  background-color: rgb(90, 46, 14);
  color: rgba(210, 180, 140, 0.883);
}
div{
  display: inline-block;
  margin:18px;
  margin-top: 0px;


}
