input{
  background-color: rgba(210, 180, 140, 0.883);;
}
.btn{
  background-color: rgba(210, 180, 140, 0.883);
  color: rgb(90, 46, 14);
  border-style: groove;
  border-radius: 5px;
}
div{
  text-align: center;
  align-items:center;
}
p{
  margin-left: 80px;
  margin-right: 80px;
  color:rgb(90, 46, 14);
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
